{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block css %}
{% include 'datatables-css.html' %}
{% endblock %}

{% block head_title %}Attribute {{ key }}{% endblock %}
{% block body_title %}
<span class="text-muted">Attribute</span>
<span class="text-success">{{ key }}</span>
{% endblock %}

{% block left_main %}
<div class="col-md-10">
  <table id="notes" class="table table-sm table-hover table-responsive">
    <thead>
      <tr>
        <th width="20%">Value</th>
        <th width="20%">Supernote</th>
        <th width="40%">Note</th>
        <th width="20%">Modified</th>
      </tr>
    </thead>
    <tbody>
    {% for value, notes in values %}
    {% for note in notes %}
    <tr>
      <td>
        <a href="{{ url_for('attribute_value', key=key, value=value) }}"
           class="py-0 my-0 text-decoration-none">{{ value }}</a>
      </td>
      <td class="text-end">
        {% if note.supernote.path %}
        <a href="{{ note.supernote.url }}"
           class="py-0 my-0 text-decoration-none">{{ note.supernote.path }}</a>
        {% endif %}
      </td>
      <td>
        {{ macros.note_link(note) }}
      </td>
      <td class="small">{{ note.modified | localtime }}</td>
    </tr>
    {% endfor %} {# for note in notes #}
    {% endfor %} {# for value in values #}
  </tbody>
</table>
</div>
{% endblock %} {# block left_main #}

{% block right %}
{% if interactive %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endif %} {# if interactive #}
{% endblock %} {# block right #}

{% block javascript %}
{% include 'datatables-js.html' %}
<script>
  $(document).ready(function() {
    $('#notes').DataTable({
      "lengthMenu": [10, 20, 40, 60, 80, 100],
      "pageLength": 20
    });
  } );
</script>
{% endblock %} {#% block javascript #}
