{% extends 'base.html' %}

{% import 'macros.html' as macros with context %}

{% block head_title %}Attribute {{ key }}: {{ value }}{% endblock %}
{% block body_title %}
<span class="text-muted">Attribute</span>
<span class="text-success">{{ key }}: {{ value }}</span>
{% endblock %}

{% block left_main %}
<div class="col-md-10">
  <table class="table table-sm table-hover table-responsive">
    <thead>
      <tr>
        <th width="30%"></th>
        <th width="50%">Note</th>
        <th width="20%">Modified</th>
      </tr>
    </thead>
    <tbody>
    {% for note in notes %}
    <tr>
      <td class="text-end">
        {% if note.supernote.path %}
        {{ note.supernote.path }}/
        {% endif %}
      </td>
      <td>
        {{ macros.note_link(note) }}
      </td>
      <td class="small">{{ note.modified | localtime }}</td>
    </tr>
    {% endfor %} {# for note in notes #}
  </tbody>
</table>
</div>
{% endblock %} {# block left_main #}

{% block right %}
{% if interactive %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endif %} {# if interactive #}
{% endblock %} {# block right #}
