<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}notebooks{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand text-muted" href="{{ url_for('home') }}"
           title="{{ config['NOTEBOOK_DIRPATH'] }}">
          <img src="{{ url_for('static', filename='icon.png') }}"
	       width="32" height="32" class="d-inline-block align-top">
          {{ g.config['NOTEBOOK_TITLE'] }}
        </a>
        <button type="button" class="navbar-toggler"
                data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto">
            {% block navmenu %}
            {% endblock %}
            <li class="nav-item dropdown">
              <a href="#" id="hashtagsDropdown"
                 role="button" data-bs-toggle="dropdown"
                 class="nav-link dropdown-toggle me-3"
                 aria-expanded="false">Hashtags</a>
              <ul class="dropdown-menu" aria-labelledby="hashtagsDropdown">
                {% for word in get_hashtags() %}
                <li>
                  <a href="{{ url_for('hashtag', word=word) }}"
                     class="dropdown-item"><i>#{{ word }}</i></a>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          {% block navbar %}
          {% endblock %}
          <form action="{{ url_for('search') }}"
                class="d-flex ms-md-2">
            <input name="terms" class="form-control" type="search"
                   placeholder="Search" aria-label="Search"
                   value="{{ terms or '' }}">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1>{% block body_title %}notebooks{% endblock %}</h1>
        </div>
        <div class="col-md-2 py-1">
          {% block meta %}
          {% endblock %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-2">
          {% for msg in get_flashed_messages(category_filter=['error']) %}
          <div class="alert alert-danger alert-dismissible fade show"
               role="alert">
            <strong>Sorry:</strong> {{ msg }}
            <button type="button" aria-label="Close"
                    class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {% endfor %}
          {% for msg in get_flashed_messages(category_filter=['warning']) %}
          <div class="alert alert-warning alert-dismissible fade show"
               role="alert">
            <strong>Note:</strong> {{ msg }}
            <button type="button" aria-label="Close"
                    class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {% endfor %}
          {% for msg in get_flashed_messages(category_filter=['message']) %}
          <div class="alert alert-info alert-dismissible fade show"
               role="alert">
            {{ msg }}
            <button type="button" aria-label="Close"
                    class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {% endfor %}
        </div>
      </div>

      {% block supermain %}
      <div class="row">
        {% block left_main %}
        <div class="col-md-2">
          {% block left %}
          {% endblock %}
        </div>
        <div class="col-md-8">
          {% block main %}
          {% endblock %}
        </div>
        {% endblock %} {# block left_main #}
        <div class="col-md-2">
          {% block right %}
          {% endblock %}
        </div>
      </div>
      {% endblock %} {# block supermain #}

      <hr>
      <div class="row">
        <div class="col-md-3 offset-md-9 text-end">
          <a href="https://github.com/pekrau/notebooks"
             class="text-decoration-none">notebooks {{ config['VERSION'] }}</a>
        </div>
      </div>
    </div>

    {% block modals %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
