{% extends 'base.html' %}

{% block head_title %}Create a new note{% endblock %}
{% block body_title %}Create a new note{% endblock %}

{% block new %}
<div class="col-md-2"></div>
{% endblock %}

{% block main %}
<div class="card">
  <div class="card-body">
    <form action="{{ url_for('create') }}"
          method="POST">
      <div class="mb-3">
        <label for="title" class="col-form-label">Title</label>
        <input type="text" name="title" id="title" autofocus
               aria-describedby="titleHelp"
               class="form-control">
        <div id="titleHelp" class="form-text">
          Title of the new note; also used for the filename of the note on
          disk.
        </div>
      </div>
      <div class="mb-3">
        <label for="parent" class="col-form-label">Parent</label>
        <input type="text" name="parent" id="parent"
               aria-describedby="parentHelp"
               class="form-control"
               value="{{ parent }}">
        <div id="parentHelp" class="form-text">
          Parent of the new note. May be a path "note1/note2/...".
        </div>
      </div>
      <div class="mb-3">
        <label for="text" class="col-form-label">Text</label>
        <textarea name="text" id="text" rows="10"
                  aria-describedby="textHelp"
                  class="form-control"></textarea>
        <div id="textHelp" class="form-text">
          Text of the new note in Markdown format.
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary px-5">Create</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {# block main #}

{% block actions %}
<div class="d-grid gap-2">
  <a href="{{ url_for('note', path=parent) }}"
     class="btn btn-secondary">Cancel</a>
</div>
{% endblock %} {# block actions #}
