{% extends 'base.html' %}

{% block head_title %}
{% if upload %}
Upload a file
{% else %}
Create a new note
{% endif %}
{% endblock %}

{% block body_title %}
{% if upload %}
Upload a file
{% else %}
Create a new note
{% endif %}
{% endblock %}

{% block navbar %}
{% if source %}
<a href="{{ source.url }}" class="btn btn-secondary px-5 mx-5">Cancel</a>
{% elif supernote %}
<a href="{{ supernote.url }}" class="btn btn-secondary px-5 mx-5">Cancel</a>
{% else %}
<a href="{{ url_for('home') }}" class="btn btn-secondary px-5 mx-5">Cancel</a>
{% endif %}
{% endblock %} {# block navbar #}

{% block main %}
<div class="card">
  <div class="card-body">
    <form action="{{ url_for('create') }}"
          enctype="multipart/form-data"
          method="POST">
      <div class="mb-3">
        <label for="supernote" class="col-form-label">Supernote</label>
        {% if supernote %}
        <input type="text" name="supernote" id="supernote" readonly
               class="form-control"
               value="{{ supernote.path }}">
        {% else %}
        <input type="text" name="supernote_none" id="supernote" readonly
               class="form-control"
               value="<root>">
        {% endif %}
      </div>
      {% if upload %}
      <div class="mb-3">
        <label for="upload" class="form-label">Upload file</label>
        <input class="form-control" type="file" name="upload" id="upload"
               aria-describedby="uploadHelp">
        <div id="titleHelp" class="form-text">
          The filename will be used as the title of the note.
        </div>
      </div>
      {% else %}
      <div class="mb-3">
        <label for="title" class="col-form-label">Title</label>
        <input type="text" name="title" id="title" autofocus
               class="form-control"
               aria-describedby="titleHelp"
               value="{{ source and ('Copy of ' + source.title) or '' }}">
        <div id="titleHelp" class="form-text">
          Title of the new note; defines the filename of the note on disk.
        </div>
      </div>
      {% endif %}
      <div class="mb-3">
        <label for="text" class="col-form-label">Text</label>
        <textarea name="text" id="text" rows="16"
                  class="form-control"
                  aria-describedby="textHelp"
                  >{{ source and source.text or '' }}</textarea>
        <div id="textHelp" class="form-text">
          Text of the new note in Markdown format.
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary px-5">Create</button>
      </div>
    </form>
  </div>
</div>
{% if source %}
<a href="{{ source.url }}" class="btn btn-secondary m-md-3 px-5">Cancel</a>
{% elif supernote %}
<a href="{{ supernote.url }}" class="btn btn-secondary m-md-3 px-5">Cancel</a>
{% else %}
<a href="{{ url_for('home') }}" class="btn btn-secondary m-md-3 px-5">Cancel</a>
{% endif %}
{% endblock %} {# block main #}

{% block right %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endblock %} {# block right #}

{% block javascript %}
{% include 'clipboard.html' %}
{% endblock %}
