{% extends 'base.html' %}

{% block head_title %}Edit note '{{ note["title"] or '<root>' }}'{% endblock %}
{% block body_title %}Edit note '{{ note["title"] or '<root>' }}'{% endblock %}

{% block meta %}
<small>{{ note.modified | localtime }}</small>
{% endblock %}

{% block left %}
{% include 'backlinks.html' %}
{% endblock %} {# block left #}

{% block main %}
<div class="card">
  <div class="card-body py-0">
    <form action="{{ url_for('edit', path=note['path']) }}"
          enctype="multipart/form-data"
          method="POST">
      {% if note.supernote %}
      <div class="mb-3">
        <label for="title" class="col-form-label">Title</label>
        <input type="text" name="title" id="title"
               aria-describedby="titleHelp"
               class="form-control"
               value="{{ note['title'] }}">
      </div>
      {% endif %}
      <div class="mb-3">
        <label for="text" class="col-form-label">Text</label>
        <textarea name="text" id="text" rows="16" autofocus
                  aria-describedby="textHelp"
                  class="form-control">{{ note['text'] or '' }}</textarea>
        <div id="textHelp" class="form-text">
          Text of the note in Markdown format.
        </div>
      </div>
      {% if note.supernote %}
      <div class="row">
        <div class="col-md-8 mb-3">
          <label for="upload" class="form-label">Upload file</label>
          <input class="form-control" type="file" name="upload" id="upload"
                 aria-describedby="uploadHelp">
          <div id="uploadHelp" class="form-text">
            File to upload as attachment to note.
            {% if note.file %}
            <strong>Note:</strong> Will overwrite the current file!
            {% endif %}
          </div>
        </div>
        {% if note.file %}
        <div class="col-md-4 mb-3">
          <label for="removefile" class="form-label"></label>
          <div class="form-check pt-3">
            <input type="checkbox" name="removefile" id="removefile"
                   class="form-check-input"
                   value="true">
            <label class="form-check-label" for="removefile">
              Remove the current file.
            </label>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div class="mb-3">
        <button type="submit" class="btn btn-primary px-5">Save</button>
      </div>
    </form>
  </div>
</div>
<a href="{{ url_for('note', path=note['path']) }}"
   class="btn btn-secondary m-md-3 px-5">Cancel</a>
{% endblock %} {# block main #}

{% block right %}
<a href="{{ url_for('note', path=note['path']) }}"
   class="btn btn-secondary d-grid mb-3">Cancel</a>
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endblock %} {# block right #}

{% block javascript %}
{% include 'clipboard.html' %}
{% endblock %}
