{% extends 'base.html' %}

{% block head_title %}Edit note '{{ note["title"] or '<root>' }}'{% endblock %}
{% block body_title %}Edit note '{{ note["title"] or '<root>' }}'{% endblock %}

{% block left %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endblock %} {# block left #}

{% block main %}
<div class="card">
  <div class="card-body">
    <form action="{{ url_for('edit', path=note['path']) }}"
          method="POST">
      {% if note.supernote %}
      <div class="mb-3">
        <label for="title" class="col-form-label">Title</label>
        <input type="text" name="title" id="title"
               aria-describedby="titleHelp"
               class="form-control"
               value="{{ note['title'] }}">
      </div>
      {% endif %}
      <div class="mb-3">
        <label for="text" class="col-form-label">Text</label>
        <textarea name="text" id="text" rows="20" autofocus
                  aria-describedby="textHelp"
                  class="form-control">{{ note['text'] or '' }}</textarea>
        <div id="textHelp" class="form-text">
          Text of the note in Markdown format.
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary px-5">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %} {# block main #}

{% block right %}
<div class="d-grid gap-2">
  <a href="{{ url_for('note', path=note['path']) }}"
     class="btn btn-secondary">Cancel</a>
</div>
{% endblock %} {# block right #}

{% block javascript %}
<script src="{{ url_for('static', filename='clipboard.min.js') }}"></script>
<script>
 var clipboard = new ClipboardJS('.btn-clipboard');
</script>
{% endblock %}
