{% extends 'base.html' %}

{% block head_title %}Folder {{ path[-1] }}{% endblock %}
{% block body_title %}
<span class="text-muted">Folder</span> {{ path[-1] }}
{% endblock %}

{% block menu %}
<ul class="list-group">
  <a href="{{ url_for('home') }}"
     class="list-group-item list-group-item-light"><i>home</i></a>
  {% for pos, folder in enumerate(path[:-1], 1) %}
  <a href="{{ url_for('item', path=join_path(path[:pos])) }}"
     class="list-group-item list-group-item-light">{{ folder }}</a>
  {% endfor %}
</ul>
<ul class="list-group mt-2">
  {% for folder in folders %}
  <a href="{{ url_for('item', path=join_path(path, folder)) }}"
     class="list-group-item list-group-item-primary">{{ folder }}</a>
  {% endfor %}
</ul>
{% endblock %} {# block menu #}

{% block main %}
<ul class="list-group">
  {% for note in notes %}
  <a href="{{ url_for('item', path=join_path(path, note)) }}"
     class="list-group-item">{{ note }}</a>
  {% endfor %}
</ul>
{% endblock %} {# block main #}

{% block actions %}
<div class="d-grid gap-2">
  <form action="{{ url_for('create') }}" method="GET">
    <input type="hidden" name="folder" value="{{ join_path(path) }}">
    <button type="submit"
            class="btn btn-primary btn-block">Create a note</button>
  </form>
</div>
{% endblock %} {# block actions #}
