{% extends 'base.html' %}

{% block css %}
{% include 'datatables-css.html' %}
{% endblock %}

{% block head_title %}Hashtag {{ word }}{% endblock %}
{% block body_title %}
<span class="text-muted">Hashtag</span>
<span class="text-primary">{{ word }}</span>
{% endblock %}

{% block left_main %}
<div class="col-md-10">
  {% if notes %}
  {% include 'notes.html' %}
  {% else %}
  <p class="lead">No such tag.</p>
  {% endif %} {# if notes #}
</div>
{% endblock %} {# block left_main #}

{% block right %}
{% if interactive %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endif %} {# if interactive #}
{% endblock %} {# block right #}

{% block javascript %}
{% include 'datatables-js.html' %}
{% endblock %}
