{% extends 'base.html' %}

{% block head_title %}notes {{ config['NOTES_ROOT'] }}{% endblock %}

{% block menu %}
<ul class="list-group">
  {% for folder in folders %}
  <a href="{{ url_for('item', path=folder) }}"
     class="list-group-item list-group-item-primary">{{ folder }}</a>
  {% endfor %}
</ul>
{% endblock %} {# block menu #}

{% block main %}
<ul class="list-group">
  {% for note in notes %}
  <a href="{{ url_for('item', path=note) }}"
     class="list-group-item">{{ note }}</a>
  {% endfor %}
</ul>
{% endblock %} {# block main #}

{% block actions %}
<div class="d-grid gap-2">
  <a href="{{ url_for('create') }}"
     role="button" class="btn btn-primary btn-block">Create a note</a>
</div>
{% endblock %} {# block actions #}
