{% extends 'base.html' %}
{% import 'macros.html' as macros with context %}

{% block head_title %}notebook {{ g.config['NOTEBOOK_TITLE'] }}{% endblock %}
{% block body_title %}
<span class="text-muted">notebook</span>
{{ g.config['NOTEBOOK_TITLE'] }}
{% endblock %}

{% block navbar %}
{% if interactive %}
<a href="{{ url_for('edit', path='') }}"
   class="btn btn-outline-primary px-5 mx-md-2">Edit</a>
<form action="{{ url_for('create') }}" class="mx-md-2"
      method="GET">
  <button type="submit" class="btn btn-outline-primary"
          title="Create a note.">Create</button>
</form>
<form action="{{ url_for('create') }}"
      class="mx-md-2 my-md-0"
      method="GET">
  <input type="hidden" name="upload" value="true">
  <button type="submit" class="btn btn-outline-primary"
          title="Upload a file as a note.">Upload</button>
</form>
{% endif %} {# if interactive #}
{% endblock %} {# block navbar #}

{% block meta %}
<small>{{ root.modified | localtime }}</small>
{% endblock %}

{% block left %}
<div class="card mb-3">
  <div class="card card-header">In this notebook</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-light">
      {{ root.count_traverse() }} notes
    </li>
    <li class="list-group-item list-group-item-light">
      {{ n_links }} links
    </li>
  </ul>
</div>
<div class="card mb-3">
  <div class="card card-header text-white bg-dark">Notebooks</div>
  <ul class="list-group list-group-flush">
    {% for title, path in notebooks %}
    {% if title == g.config['NOTEBOOK_TITLE'] %}
    <li class="list-group-item">
      <a href="{{ url_for('notebook', title=title) }}"
         title="{{ path }}" class="text-decoration-none fw-bold">{{ title }}</a>
    </li>
    {% else %}
    <li class="list-group-item">
      <a href="{{ url_for('notebook', title=title) }}"
         title="{{ path }}" class="text-decoration-none">{{ title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<a href="{{ url_for('add_notebook') }}"
   class="btn btn-outline-dark d-grid"
   title="Add an existing directory as notebook.">Add notebook</a>
{% endblock %} {# block left #}

{% block main %}
{{ root.text | markdown }}
<div class="card">
  <div class="card-header">Subnotes</div>
  <div class="card-body">
    {{ macros.noteslist(root.subnotes, 3) }}
  </div>
</div>
{% endblock %} {# block main #}

{% block right %}
{% if interactive %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endif %} {# if interactive #}
{% endblock %} {# block right #}

{% block javascript %}
{% include 'clipboard.html' %}
{% endblock %}
