{% extends 'base.html' %}
{% import 'macros.html' as macros with context %}

{% block head_title %}notes {{ g.config['HOME_TITLE'] }}{% endblock %}
{% block body_title %}
{{ g.config['HOME_TITLE'] }}
<small class="text-muted small">notes</small>
{% endblock %}

{% block navbar %}
{% if interactive %}
<form action="{{ url_for('create') }}" class="me-md-2"
      method="GET">
  <button type="submit" class="btn btn-outline-primary"
          title="Create a note.">Create</button>
</form>
<form action="{{ url_for('create') }}"
      class="mx-md-2 my-md-0"
      method="GET">
  <input type="hidden" name="upload" value="true">
  <button type="submit" class="btn btn-outline-primary"
          title="Upload a file as a note.">Upload</button>
</form>
{% endif %} {# if interactive #}
{% endblock %} {# block navbar #}

{% block action %}
{% if interactive %}
<div class="d-grid gap-2 mb-md-3">
  <a href="{{ url_for('edit', path='') }}"
     class="btn btn-primary mt-2">Edit</a>
</div>
{% endif %} {# if interactive #}
{% endblock %} {# block action #}

{% block left %}
<div class="card mb-3">
  <div class="card card-header">Totals</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-light">
      {{ root.count_traverse() }} notes
    </li>
    <li class="list-group-item list-group-item-light">
      {{ n_links }} links
    </li>
  </ul>
</div>
{% endblock %} {# block left #}

{% block main %}
{{ root.text | markdown }}
{{ macros.noteslist(root.subnotes, 2) }}
{% endblock %} {# block main #}

{% block right %}
{% if interactive %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endif %} {# if interactive #}
{% endblock %} {# block right #}

{% block javascript %}
<script src="{{ url_for('static', filename='clipboard.min.js') }}"></script>
<script>
 var clipboard = new ClipboardJS('.btn-clipboard');
</script>
{% endblock %}
