{# Table of attribute values and notes. #}
{% import 'macros.html' as macros with context %}

<table class="table table-sm table-hover table-responsive">
  <thead>
    <tr>
      <th width="20%"></th>
      <th width="60%">Note</th>
      <th width="20%">Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for note in notes %}
    <tr>
      <td class="text-end">
        {% if note.supernote.path %}
        {{ note.supernote.path }}/
        {% endif %}
      </td>
      <td>
        {{ macros.note_link(note) }}
      </td>
      <td class="small">{{ note.modified | localtime }}</td>
    </tr>
    {% endfor %} {# for note in notes #}
  </tbody>
</table>
