{% extends 'base.html' %}
{% import 'macros.html' as macros with context %}

{% block head_title %}{{ note.title }}{% endblock %}
{% block body_title %}
<button class="btn btn-clipboard btn-outline-none p-0"
        data-clipboard-text="[[{{ note.path }}]]"
        title="Copy the path of the note to the clipboard.">
  <span class="bi-clipboard text-dark"></span>
</button>
<form action="{{ url_for('star', path=note.path) }}" 
      class="d-inline-flex align-middle"
      method="POST">
  {% if note.starred %}
  <button type="submit" class="btn btn-outline-warning"
           title="Unstar this note.">
    <span class="bi-star-fill"></span>
  </button>
  {% else %}
  <button type="submit" class="btn btn-outline-warning"
           title="Star this note.">
    <span class="bi-star"></span>
  </button>
  {% endif %}
</form>
{{ note.title }}
{% endblock %}

{% block navmenu %}
<li class="nav-item dropdown">
  <a href="#" id="actionsDropdown"
     role="button" data-bs-toggle="dropdown"
     class="nav-link dropdown-toggle active me-3"
     aria-expanded="false">Actions</a>
  <ul class="dropdown-menu" aria-labelledby="actionsDropdown">
    <li>
      <a href="{{ url_for('edit', path=note.path) }}"
         class="dropdown-item"
         title="Edit this note.">Edit</a>
    </li>
    <li>
      <a href="{{ url_for('create', supernote=note.path) }}"
         class="dropdown-item"
         title="Create a subnote for this note.">Create subnote</a>
    </li>
    <li>
      <a href="{{ url_for('create', supernote=note.path, upload=True) }}"
         class="dropdown-item"
         title="Upload a file into a new subnote for this note.">
        Upload file</a>
    </li>
    <li>
      <a href="{{ url_for('move', path=note.path) }}"
         class="dropdown-item"
         title="Move this note to another supernote.">Move</a>
    </li>
    <li>
      <a href="{{ url_for('create', supernote=note.supernote.path, source=note.path) }}"
         class="dropdown-item"
         title="Create a copy of this note.">Copy</a>
    </li>
  </ul>
</li>
{% endblock %} {# block navmenu #}

{% block meta %}
<small>{{ note.modified | localtime }}</small>
{% endblock %}

{% block left %}
{% include 'supernotes.html' %}
{% include 'siblings.html' %}
{% include 'backlinks.html' %}
{% endblock %} {# block left #}

{% block main %}
{{ note['text'] | markdown }}
{% if note.file %}
{% if note.file_extension.lower() in g.config['IMAGE_EXTENSIONS'] %}
<div class="my-md-2">
  <img src="{{ url_for('file', path=note.path) }}"
       class="border border-secondary">
  <button class="btn btn-clipboard btn-outline-none"
          data-clipboard-text="{{ url_for('file', path=note.path, _external=True) }}"
        title="Copy the URL of the image to the clipboard.">
  <span class="bi-clipboard text-dark"></span>
</button>
</div>
{% endif %}
<a href="{{ url_for('file', path=note.path, download=True) }}"
   class="btn btn-primary my-lg-2">
  Download file {{ note.file_size | filesizeformat }}
</a>
{% endif %}
{% if note.subnotes %}
<div class="card">
  <div class="card-header">Subnotes</div>
  <div class="card-body">
    {{ macros.noteslist(note.subnotes, 3) }}
  </div>
</div>
{% endif %} {# if note.subnotes #}
{% endblock %} {# block main #}

{% block right %}
<a href="{{ url_for('edit', path=note.path) }}"
   class="btn btn-primary d-grid mb-3">Edit</a>
<form action="{{ url_for('delete', path=note.path) }}"
      class="d-grid mb-3"
      method="POST">
  <button role="submit" class="btn btn-sm btn-outline-danger"
          {{ not note.is_deletable() and 'disabled' or '' }}
          onclick="return confirm('Really delete recursively? Cannot be undone.')"
          >Delete</button>
</form>
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endblock %}

{% block javascript %}
{% include 'clipboard.html' %}
{% endblock %}
