{% extends 'base.html' %}
{% import 'macros.html' as macros with context %}

{% block head_title %}{{ note.title }}{% endblock %}
{% block body_title %}
{{ note.title }}
{% endblock %}

{% block navbar %}
{% if interactive %}
<form action="{{ url_for('star', path=note.path) }}" 
      class="d-flex mx-md-2 my-md-0 my-sm-1"
      method="POST">
  {% if note.starred %}
  <button type="submit" class="btn btn-warning">
    <span class="bi-star-fill" title="Unstar this note."></span>
  </button>
  {% else %}
  <button type="submit" class="btn btn-outline-warning">
    <span class="bi-star-fill" title="Star this note."></span>
  </button>
  {% endif %}
</form>
<div class="d-flex mx-md-2 my-md-0 my-sm-1">
  <a href="{{ url_for('edit', path=note.path) }}"
     class="btn btn-outline-primary px-md-4">Edit</a>
</div>
<form action="{{ url_for('create') }}"
      class="d-flex mx-md-2 my-md-0 my-sm-1"
      method="GET">
  {% if note.supernote %}
  <input type="hidden" name="supernote" value="{{ note.supernote.path }}">
  {% endif %}
  <input type="hidden" name="source" value="{{ note.path }}">
  <button type="submit" class="btn btn-outline-primary"
          title="Create a copy of this note.">Copy</button>
</form>
<form action="{{ url_for('create') }}"
      class="d-flex mx-md-2 my-md-0 my-sm-1"
      method="GET">
  {% if note.path %}
  <input type="hidden" name="supernote" value="{{ note.path }}">
  {% endif %}
  <button type="submit" class="btn btn-outline-primary"
          title="Create a subnote for this note.">Subnote</button>
</form>
<form action="{{ url_for('delete', path=note.path) }}"
      class="d-flex mx-md-2 my-md-0 my-sm-1"
      method="POST">
  <button role="submit" class="btn btn-outline-danger"
          {{ not note.is_deletable() and 'disabled' or '' }}
          onclick="return confirm('Really delete recursively? Cannot be undone.')"
          >Delete</button>
</form>
{% endif %} {# if interactive #}
{% endblock %} {# block navbar #}

{% block meta %}
<button class="btn btn-clipboard btn-outline-none ps-0"
        data-clipboard-text="[[{{ note.path }}]]">
  <span class="bi-clipboard text-dark"></span>
</button>
<small>{{ note.modified | localtime }}</small>
{% endblock %}

{% block left %}
<div class="card bg-light mb-3">
  <div class="card-header py-1">Supernotes</div>
  <div class="card-body py-1">
    <ul class="list-unstyled my-0">
      <li>
        <a href="{{ url_for('home') }}" class="text-decoration-none">
          <i>&lt;root&gt;</i></a>
      </li>
      {% for supernote in note.supernotes()[1:] %}
      <li>
        <a href="{{ supernote.url }}" class="text-decoration-none">
          /{{ supernote.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% include 'starred.html' %}
{% if interactive %}
{% include 'recent.html' %}
{% endif %} {# if interactive #}
{% endblock %} {# block left #}

{% block main %}
{{ note['text'] | markdown }}
{{ macros.noteslist(note.subnotes, 2) }}
{% endblock %} {# block main #}

{% block right %}
{% include 'backlinks.html' %}
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='clipboard.min.js') }}"></script>
<script>
 var clipboard = new ClipboardJS('.btn-clipboard');
</script>
{% endblock %}
