{% extends 'base.html' %}
{% import 'macros.html' as macros with context %}

{% block head_title %}{{ note.title }}{% endblock %}
{% block body_title %}
<button class="btn btn-clipboard btn-outline-none p-0"
        data-clipboard-text="[[{{ note.path }}]]"
        title="Copy the path of the note to the clipboard.">
  <span class="bi-clipboard text-dark"></span>
</button>
<form action="{{ url_for('star', path=note.path) }}" 
      class="d-inline-flex align-middle"
      method="POST">
  {{ get_csrf_token() }}
  {% if note.starred %}
  <button type="submit" class="btn btn-outline-warning"
           title="Unstar this note.">
    <span class="bi-star-fill"></span>
  </button>
  {% else %}
  <button type="submit" class="btn btn-outline-warning"
           title="Star this note.">
    <span class="bi-star"></span>
  </button>
  {% endif %}
</form>
{{ note.title }}
{% endblock %}

{% block meta %}
<small>{{ note.modified | localtime }}</small>
{% endblock %}

{% block left %}
{% include 'supernotes.html' %}
{% include 'siblings.html' %}
{% include 'backlinks.html' %}
{% endblock %} {# block left #}

{% block main %}
{{ note['text'] | markdown }}
{% if note.is_image %}
<div class="my-md-2">
  <img src="{{ url_for('file', path=note.path) }}"
       class="img-fluid border border-secondary">
  <button class="btn btn-clipboard btn-outline-none"
          data-clipboard-text="{{ url_for('file', path=note.path, _external=True) }}"
        title="Copy the URL of the image to the clipboard.">
  <span class="bi-clipboard text-dark"></span>
</button>
</div>
{% endif %} {# if note.is_image #}
{% if note.is_file %}
<a href="{{ url_for('file', path=note.path, download=True) }}"
   class="btn btn-primary my-lg-2">
  Download file {{ note.file_size | filesizeformat }}
</a>
{% endif %} {# if note.is_file #}
{% if note.subnotes %}
<div class="card">
  <div class="card-header">Subnotes</div>
  <div class="card-body">
    {{ macros.noteslist(note.subnotes, 3) }}
  </div>
</div>
{% endif %} {# if note.subnotes #}
{% endblock %} {# block main #}

{% block right %}
<a href="{{ url_for('edit', path=note.path) }}"
   role="button" class="btn btn-primary d-grid mb-3"
   title="Edit the titel and/or text of this note.">Edit</a>
<a href="{{ url_for('move', path=note.path) }}"
   class="btn btn-primary btn-sm d-grid mb-1"
   title="Move this note to another supernote.">Move</a>
<a href="{{ url_for('create', supernote=note.supernote.path, source=note.path) }}"
   class="btn btn-primary btn-sm d-grid mb-1"
   title="Create a copy of this note.">Create copy</a>
{% if ocr %}
<div class="d-grid mb-1">
  <button type="button" class="btn btn-primary btn-sm"
          data-bs-toggle="modal" data-bs-target="#ocr_modal">Do OCR</button>
</div>
{% endif %} {# if ocr #}
<a href="{{ url_for('create', supernote=note.path) }}"
   class="btn btn-primary btn-sm d-grid mb-1"
   title="Create a subnote for this note.">Create subnote</a>
<a href="{{ url_for('create', supernote=note.path, upload=True) }}"
   class="btn btn-primary btn-sm d-grid mb-1"
   title="Upload a file into a new subnote for this note.">Upload file</a>
<form action="{{ url_for('edit', path=note.path) }}"
      class="d-grid my-3"
      method="POST">
  {{ get_csrf_token() }}
  <input type="hidden" name="_http_method" value="DELETE">
  <button role="submit" class="btn btn-sm btn-outline-danger"
          {{ not note.is_deletable() and 'disabled' or '' }}
          onclick="return confirm('Really delete? Cannot be undone.')"
          >Delete</button>
</form>
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endblock %}

{% block modals %}
<div class="modal fade" id="ocr_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('ocr', path=note.path) }}"
            method="POST">
        {{ get_csrf_token() }}
        <div class="modal-header">
          <h5>Extract text from the image by OCR.</h5>
          <button type="button" data-bs-dismiss="modal"
                  class="btn-close" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="ocr_lang" class="form-label">Select language</label>
          <div class="form-control" id="ocr_lang">
            {% for lang in g.config["OCR_LANGS"] %}
            <div class="form-check form-check-inline">
              <input type="radio" name="ocr_lang" id="ocr_lang_{{ lang }}"
                     class="form-check-input" 
                     value="{{ lang }}">
              <label class="form-check-label" for="ocr_lang_{{ lang }}">
                {{ lang }}</label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal"
                  class="btn btn-secondary" >Close</button>
          <button role="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
{% include 'clipboard.html' %}
{% endblock %}
