{# Starred notes #}
<div class="card mb-3">
  <div class="card-header bg-warning py-1">
    <span class="bi-star-fill"></span>
  </div>
  <div class="card-body small py-1">
    <table width="100%">
      {% for note in get_starred() %}
      <tr>
        <td class="py-0">
          <a href="{{ note.url }}" class="text-decoration-none">
            {{ note.title }}</a>
        </td>
        <td class="align-right py-0">
          <button class="btn btn-clipboard btn-sm btn-outline-none p-0"
                  data-clipboard-text="[[{{ note.path }}]]">
            <span class="bi-clipboard text-dark"></span>
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
