{# List of supernotes #}

{% import 'macros.html' as macros with context %}

<div class="card bg-light mb-3">
  <div class="card-header py-1">Supernotes</div>
  <div class="card-body p-1">
    <div class="mb-1">
      <a href="{{ url_for('home') }}" class="text-decoration-none ms-4">
        <i>&lt;root&gt;</i></a>
    </div>
    {% for supernote in note.supernotes()[1:] %}
    <div class="d-flex align-items-start mb-1">
      {{ macros.note_link(supernote, level=0) }}
    </div>
    {% endfor %}
  </div>
</div>
