{# List of supernotes #}
<div class="card bg-light mb-3">
  <div class="card-header py-1">Supernotes</div>
  <div class="card-body p-1">
    <div class="mb-1">
      <a href="{{ url_for('home') }}" class="text-decoration-none ms-4">
        <i>&lt;root&gt;</i></a>
    </div>
    {% for supernote in note.supernotes()[1:] %}
    <div class="d-flex align-items-start mb-1">
      <button class="btn btn-sm btn-outline-none p-0 mx-2 clipboard"
              data-clipboard-text="[[{{ supernote.path }}]]"
              title="Copy the path of the note to the clipboard.">
        <span class="bi-clipboard text-dark"></span>
        / <a href="{{ supernote.url }}"
             class="text-decoration-none">{{ supernote.title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
