{# List of supernotes #}
<div class="card bg-light mb-3">
  <div class="card-header py-1">Supernotes</div>
  <div class="card-body py-1">
    <ul class="list-unstyled my-0">
      <li>
        <a href="{{ url_for('home') }}" class="text-decoration-none">
          <i>&lt;root&gt;</i></a>
      </li>
      {% for supernote in note.supernotes()[1:] %}
      <li>
        / <a href="{{ supernote.url }}"
             class="text-decoration-none">{{ supernote.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
