{% extends 'base.html' %}

{% block css %}
{% include 'datatables-css.html' %}
{% endblock %}

{% block head_title %}Trash{% endblock %}
{% block body_title %}Trash{% endblock %}

{% block left_main %}
<div class="col-md-10">
  <table id="notes" class="table table-sm table-hover table-responsive">
    <thead>
      <tr>
        <th>Note</th>
        <th>File type</th>
        <th>File size</th>
        <th>Restore</th>
      </tr>
    </thead>
    <tbody>
      {% for title, data in notes %}
      <tr>
        <td>{{ title }}</td>
        {% if data %}
        <td>{{ data['file'] }}</td>
        <td>{{ data['size'] | filesizeformat }}</td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
        <td>
          <form action="{{ url_for('restore', title=title) }}"
                method="POST">
            {{ get_csrf_token() }}
            <input type="text" name="supernote" class="form-control"
                   placeholder="Destination supernote" size="8">
          </form>
        </td>
      </tr>
      {% endfor %} {# for note in notes #}
    </tbody>
  </table>
</div>
{% endblock %} {# block left_main #}

{% block right %}
<form action="{{ url_for('purge') }}"
      class="d-grid mb-3"
      method="POST">
  {{ get_csrf_token() }}
  <button role="submit" class="btn btn-sm btn-danger"
          onclick="return confirm('Really purge all files? Cannot be undone.')">
    Purge</button>
</form>
{% if interactive %}
{% include 'starred.html' %}
{% include 'recent.html' %}
{% endif %} {# if interactive #}
{% endblock %} {# block right #}

{% block javascript %}
{% include 'datatables-js.html' %}
{% endblock %}
